%table.table
  - @fridays.map do |friday|
    %tr
      %td
        %strong= friday.name_of_the_dish
        = friday.description
        = friday.price
      - if current_user && current_user.lunchesadmin?
        %td= link_to 'Show', weekdays_friday_path(friday), class: 'btn btn-success'
        %td= link_to 'Edit', edit_weekdays_friday_path(friday), class: 'btn btn-default'
        %td= link_to 'Destroy', weekdays_friday_path(friday), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' }

%h4.text-center Select one item from menu
.row
  .col-md-6.col-md-offset-4
    = form_for :friday do |form|
      .form-group
        .col-md-4= form.select :name_of_the_dish,  Friday.all.map{|a| [a.name_of_the_dish] }, {}, {class: 'form-control', multiple: false}
      .form-group
        .row
          .col-md-4= link_to 'Сonfirm', weekdays_orders_path, class: 'btn btn-success btn-block'